<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <h1> Xin chào, đây là một simple webapp được tạo bằng Ruby on Rails </h1>
  <h5> Đây là giao diện hiển thị khi người dùng chưa đăng nhập vào trang web</h5>
<% end %>
