<p style="color: green"><%= notice %></p>

<h1>Users list</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<% if logged_in?  %>
  <h3><%= link_to "New user", new_user_path %></h3>
<% end %>



